# Node.js dependencies
/node_modules
**/node_modules

# Yarn
.pnp*
.yarn/install-state.gz

# Editor & OS files
.idea/
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing coverage
/coverage
**/coverage

# Next.js build outputs
.next/
out/

# Rollup or general library builds
build/
dist/
packages/*/build
packages/*/dist

# TypeScript build artifacts
*.tsbuildinfo
next-env.d.ts

# Environment files
.env
.env*.local

# Vercel
.vercel

# Miscellaneous
*.log